<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker
                idKey='"id"'
                coords="marker"
                options="{icon:'http://google-maps-icons.googlecode.com/files/car.png'}"
                >
            </ui-gmap-marker>
            <ui-gmap-marker
                idKey='"id"'
                coords="myPosition"
                options="myPosition.options"
                >
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </ion-content>
</ion-view>